.container{
    text-align: center;
    margin: 25px;
}
.logo img{
    margin-bottom: 10px;
}
p{
    font-size: 27px;
    font-weight: 300;
    line-height: 10px;
}
p span{
    color: hsl(0, 0%, 59%);
}
.size{
    font-size: 0.6em;
    color: hsl(209, 33%, 12%);
}
form input{
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 110px;
    max-width: 600px;
    font-size: 12px;
    border: 1px solid hsl(223, 100%, 88%);
}
form input.active:hover{
    border-color: rgb(243, 7, 54);
    box-shadow: 0 0 5px red;
}
button{
    border-radius: 20px;
    padding: 10px 38px;
    font-size: 12px;
    max-width: 600px;
    border: 1px solid hsl(223, 100%, 88%);
    color: aliceblue;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
}
.illustration img{
    margin-top: 20px;
    margin-bottom: 30px;
}
.icons{
    display: flex;
    gap: 15px;
    margin-left: 47%;
    font-size: 15px;
}
.copyright p{
    font-size: 10px;
    color: hsl(0, 0%, 59%);
}
.mess{
    font-size: 0.6em;
    color: red;
    margin-left: -15%;
}

@media screen and (max-width: 500px) {
    button{
        border-radius: 20px;
        padding: 10px 115px;
        font-size: 12px;
        max-width: 600px;
        border: 1px solid hsl(223, 100%, 88%);
        color: aliceblue;
        background-color: hsl(223, 87%, 63%);
        cursor: pointer;
        display: block;
        margin-top: 30px;
        margin-left: 15%;
    }
}